body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.candidate-card:hover {
    background-color: #f8f9fa;
    border-color: #0d6efd !important;
    cursor: pointer;
    transition: all 0.2s;
}

.stretched-link {
    cursor: pointer;
}
